test:
  #logging: true
  #connection_timeout: 3
  host: localhost
  port: 5672
  user: guest
  pass: guest
  vhost: "/"
  queue: "d3w"
  task: "canvas_listener.handle_grade_updates_task"


development:
  #logging: true
  #connection_timeout: 3
  host: localhost
  port: 5672
  user: guest
  pass: guest
  vhost: "/"
  queue: "d3w"
  task: "canvas_listener.handle_grade_updates_task"


production:
  #logging: true
  #connection_timeout: 3
  host: "dev01.dev.mycollegefn.org"
  port: 5672
  user: guest
  pass: guest
  vhost: "/"
  queue: "d3w"
  task: "canvas_listener.handle_grade_updates_task"

